body{
    background: black;
    color: azure;
}

#firstParagraph{
    font-size: 36px;
    font-weight: bolder;
}

.headers{
    color:yellowgreen;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}