body{
    background: yellowgreen;
    color: azure;
    font-family: 'Charmonman', cursive;
}

#firstParagraph{
    font-size: 30px;
    font-weight: bolder;
}

.headers{
    color:rgb(9, 9, 9);
    text-align: center;
    font-size: 100px;
}